.card {
    width: 300px;
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: transform 0.3s ease;
  }
  

  .card:hover {
    transform: scale(1.05); 
  }

  .price {
    font-size: 2rem;
    color: #000;
    margin: 10px 0;
    background-color: #e6f2ff;
    padding: 10px;
    border-radius: 5px;
  }
  
 
  .join-btn {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #f0f0f0;
    color: #000;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
  }
  
  .join-btn:hover {
    background-color: blue; 
    color: rgb(41, 55, 178); 
  }
  