.box {
    width: 100px;
    height: 100px;
    animation: multiColor 4s infinite;
  }
  
  @keyframes multiColor {
    0% { background-color: red; }
    25% { background-color: green; }
    50% { background-color: yellow; }
    75% { background-color: blue; }
    100% { background-color: red; }
  }
  