.box {
    width: 100px;
    height: 100px;
    background-color: red;
    animation: changeColor 4s infinite; 
  }
  
  @keyframes changeColor {
    0% { background-color: red; }
    100% { background-color: blue; }
  }
  